[Problem Statement] Source: https://school.programmers.co.kr/learn/courses/30/lessons/299305

E. coli individuals undergo differentiation at regular intervals. The individual that initiates differentiation is called the parent individual, while the differentiated individual that results from this process is referred to as the offspring individual.
The ECOLI_DATA table contains information on E. coli individuals cultured in the laboratory. The structure of the ECOLI_DATA table is as follows: 
![My Image](/Users/celine/my_project/soyulcodes/SQL/images/ecoli_data_table.png)

	•	The Parent_ID of the first Ecoli is NULL. 
	•	ID: The ID of the E. coli individual
	•	PARENT_ID: The ID of the parent individual
	•	SIZE_OF_COLONY: The size of the colony
	•	DIFFERENTIATION_DATE: The date of differentiation
	•	GENOTYPE: The genotype of the individual
	•	The PARENT_ID of the initial E. coli individual is NULL.



[Task]
Write an SQL query to output the ID of each E. coli individual (ID) and the number of offspring (CHILD_COUNT). If an individual has no offspring, the number of offspring should be displayed as 0. The result should be sorted in ascending order by ID.

For example, if the ECOLI_DATA table is as follows:

![My Image](/Users/celine/my_project/soyulcodes/SQL/images/ecoli_data_table1.png)

The offspring of the entity with ID 1 is ID 3 (1 offspring), the offspring of the entity with ID 2 are IDs 4 and 5 (2 offspring), and the offspring of the entity with ID 4 is ID 6 (1 offspring). The remaining entities have no offspring. Therefore, when sorted in ascending order by ID, the result should be as follows.

![My Image](/Users/celine/my_project/soyulcodes/SQL/images/ecoli_data_table2.png)

The codes are to practice JOIN function.

![My Image](/Users/celine/my_project/soyulcodes/SQL/images/table_join.png)

* If "WHERE X IS NULL" is not written, we fill unmached parts with NULL.

In [ ]:
SELECT a.ID, COUNT(b.PARENT_ID) as CHILD_COUNT
FROM ECOLI_DATA a 
LEFT JOIN ECOLI_DATA b
ON a.ID = b.parent_id
GROUP BY 1 ##Delete overlapping data
ORDER BY 1